@model IEnumerable<MVCStarter.Models.Product>

@{
    ViewBag.Title = "Product List";
}

<h2>Products</h2>

@{Html.RenderAction("PartialProduct","Product");}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>

    </tr>
}

</table>
